<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peashoot.blog.batis.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.peashoot.blog.batis.entity.ArticleDO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="keywords" jdbcType="VARCHAR" property="keywords"/>
        <result column="filePath" jdbcType="VARCHAR" property="filePath"/>
        <result column="createTime" jdbcType="BIGINT" property="createTime"/>
        <result column="createUserId" jdbcType="INTEGER" property="createUserId"/>
        <result column="modifyTime" jdbcType="BIGINT" property="modifyTime"/>
        <result column="modifyUserId" jdbcType="INTEGER" property="modifyUserId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="overview" jdbcType="VARCHAR" property="overview"/>
        <result column="pageView" jdbcType="BIGINT" property="pageView"/>
        <result column="articleUrl" jdbcType="VARCHAR" property="articleUrl"/>
        <result column="supportCount" jdbcType="INTEGER" property="supportCount"/>
        <result column="againstCount" jdbcType="INTEGER" property="againstCount"/>
    </resultMap>
    <resultMap id="JoinUserMap" type="com.peashoot.blog.batis.entity.ArticleDO" extends="BaseResultMap">
        <result column="create_id" jdbcType="INTEGER" property="createUser.id"/>
        <result column="create_username" jdbcType="VARCHAR" property="createUser.username"/>
        <result column="create_nickName" jdbcType="VARCHAR" property="createUser.nickName"/>
        <result column="create_email" jdbcType="VARCHAR" property="createUser.email"/>
        <result column="modify_id" jdbcType="INTEGER" property="modifyUser.id"/>
        <result column="modify_username" jdbcType="VARCHAR" property="modifyUser.username"/>
        <result column="modify_nickName" jdbcType="VARCHAR" property="modifyUser.nickName"/>
        <result column="modify_email" jdbcType="VARCHAR" property="modifyUser.email"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, author, title, keywords, filePath, createTime, createUserId, modifyTime, modifyUserId,
        status, overview, pageView, articleUrl, supportCount, againstCount
    </sql>
    <sql id="Join_User_List">
        a.id, a.author, a.title, a.keywords, a.filePath, a.createTime, a.createUserId, a.modifyTime, a.modifyUserId,
        a.status, a.overview, a.pageView, a.articleUrl, a.supportCount, a.againstCount, c.id "create_id",
        c.username "create_username", c.nickName "create_nickName", c.email "create_email", m.id "modify_id",
        m.username "modify_username", m.nickName "modify_nickName", m.email "modify_email"
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="JoinUserMap">
        select
        <include refid="Join_User_List"/>
        from bg_article a
        LEFT JOIN bg_sysuser c ON a.createUserId = c.id
        LEFT JOIN bg_sysuser m ON a.modifyUserId = m.id
        where a.id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="JoinUserMap">
        select
        <include refid="Join_User_List"/>
        from bg_article a
        LEFT JOIN bg_sysuser c ON a.createUserId = c.id
        LEFT JOIN bg_sysuser m ON a.modifyUserId = m.id
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from bg_article
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteRangeByPrimaryKeys">
        delete from bg_article
        where id in (
        <foreach collection="articleIds" item="id" index="index" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>
        )
    </delete>
    <insert id="insert" parameterType="com.peashoot.blog.batis.entity.ArticleDO">
        insert into bg_article (id, author, title,
                                keywords, filePath, createTime,
                                createUserId, modifyTime, modifyUserId,
                                status, overview, pageView,
                                articleUrl, supportCount, againstCount)
        values (#{id,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
                #{keywords,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT},
                #{createUserId,jdbcType=INTEGER}, #{modifyTime,jdbcType=BIGINT}, #{modifyUserId,jdbcType=INTEGER},
                #{status,jdbcType=INTEGER}, #{overview,jdbcType=VARCHAR}, #{pageView,jdbcType=BIGINT},
                #{articleUrl,jdbcType=VARCHAR}, #{supportCount,jdbcType=INTEGER}, #{againstCount,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.peashoot.blog.batis.entity.ArticleDO">
        insert into bg_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="keywords != null">
                keywords,
            </if>
            <if test="filePath != null">
                filePath,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="createUserId != null">
                createUserId,
            </if>
            <if test="modifyTime != null">
                modifyTime,
            </if>
            <if test="modifyUserId != null">
                modifyUserId,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="overview != null">
                overview,
            </if>
            <if test="pageView != null">
                pageView,
            </if>
            <if test="articleUrl != null">
                articleUrl,
            </if>
            <if test="supportCount != null">
                supportCount,
            </if>
            <if test="againstCount != null">
                againstCount,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null">
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=BIGINT},
            </if>
            <if test="modifyUserId != null">
                #{modifyUserId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="overview != null">
                #{overview,jdbcType=VARCHAR},
            </if>
            <if test="pageView != null">
                #{pageView,jdbcType=BIGINT},
            </if>
            <if test="articleUrl != null">
                #{articleUrl,jdbcType=VARCHAR},
            </if>
            <if test="supportCount != null">
                #{supportCount,jdbcType=INTEGER},
            </if>
            <if test="againstCount != null">
                #{againstCount,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.peashoot.blog.batis.entity.ArticleDO">
        update bg_article
        <set>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                keywords = #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null">
                filePath = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="createUserId != null">
                createUserId = #{createUserId,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null">
                modifyTime = #{modifyTime,jdbcType=BIGINT},
            </if>
            <if test="modifyUserId != null">
                modifyUserId = #{modifyUserId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="overview != null">
                overview = #{overview,jdbcType=VARCHAR},
            </if>
            <if test="pageView != null">
                pageView = #{pageView,jdbcType=BIGINT},
            </if>
            <if test="articleUrl != null">
                articleUrl = #{articleUrl,jdbcType=VARCHAR},
            </if>
            <if test="supportCount != null">
                supportCount = #{supportCount,jdbcType=INTEGER},
            </if>
            <if test="againstCount != null">
                againstCount = #{againstCount,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.peashoot.blog.batis.entity.ArticleDO">
        update bg_article
        set author       = #{author,jdbcType=VARCHAR},
            title        = #{title,jdbcType=VARCHAR},
            keywords     = #{keywords,jdbcType=VARCHAR},
            filePath     = #{filePath,jdbcType=VARCHAR},
            createTime   = #{createTime,jdbcType=BIGINT},
            createUserId = #{createUserId,jdbcType=INTEGER},
            modifyTime   = #{modifyTime,jdbcType=BIGINT},
            modifyUserId = #{modifyUserId,jdbcType=INTEGER},
            status       = #{status,jdbcType=INTEGER},
            overview     = #{overview,jdbcType=VARCHAR},
            pageView     = #{pageView,jdbcType=BIGINT},
            articleUrl   = #{articleUrl,jdbcType=VARCHAR},
            supportCount = #{supportCount,jdbcType=INTEGER},
            againstCount = #{againstCount,jdbcType=INTEGER}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="listPagedArticles" resultMap="JoinUserMap">
        select
        <include refid="Join_User_List"/>
        from bg_article a
        LEFT JOIN bg_sysuser c ON a.createUserId = c.id
        LEFT JOIN bg_sysuser m ON a.modifyUserId = m.id
        where 1=1
        <if test="@com.peashoot.blog.util.StringUtils@isNotNullOrEmpty(authorLike)">
            and a.author like concat('%', #{authorLike, jdbcType=VARCHAR}, '%')
        </if>
        <if test="@com.peashoot.blog.util.StringUtils@isNotNullOrEmpty(keywordLike)">
            and a.keywords like concat('%', #{keywordLike, jdbcType=VARCHAR}, '%')
        </if>
        <if test="@com.peashoot.blog.util.StringUtils@isNotNullOrEmpty(titleLike)">
            and a.title like concat('%', #{titleLike, jdbcType=VARCHAR}, '%')
        </if>
        order by a.id limit #{indexStart, jdbcType=INTEGER},#{selectCount, jdbcType=INTEGER}
    </select>
    <select id="countTotalRecords" resultType="java.lang.Integer">
        select count(1) from bg_article where 1=1
        <if test="@com.peashoot.blog.util.StringUtils@isNotNullOrEmpty(authorLike)">
            and author like concat('%', #{authorLike, jdbcType=VARCHAR}, '%')
        </if>
        <if test="@com.peashoot.blog.util.StringUtils@isNotNullOrEmpty(keywordLike)">
            and keywords like concat('%', #{keywordLike, jdbcType=VARCHAR}, '%')
        </if>
        <if test="@com.peashoot.blog.util.StringUtils@isNotNullOrEmpty(titleLike)">
            and title like concat('%', #{titleLike, jdbcType=VARCHAR}, '%')
        </if>
    </select>
    <select id="selectByPrimaryKeyForUpdate" parameterType="java.lang.String" resultMap="JoinUserMap">
        select
        <include refid="Join_User_List"/>
        from bg_article a
        LEFT JOIN bg_sysuser c ON a.createUserId = c.id
        LEFT JOIN bg_sysuser m ON a.modifyUserId = m.id
        where a.id = #{id,jdbcType=VARCHAR} for update
    </select>
</mapper>