<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peashoot.blog.batis.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.peashoot.blog.batis.entity.SysUserDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="roleIds" jdbcType="VARCHAR" property="roleIds"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="nickName" jdbcType="VARCHAR" property="nickName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="contact" jdbcType="VARCHAR" property="contact"/>
        <result column="socialAccount" jdbcType="VARCHAR" property="socialAccount"/>
        <result column="lastLoginTime" jdbcType="BIGINT" property="lastLoginTime"/>
        <result column="registerTime" jdbcType="BIGINT" property="registerTime"/>
        <result column="lastLoginIp" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="registerIp" jdbcType="VARCHAR" property="registerIp"/>
        <result column="updateTime" jdbcType="BIGINT" property="updateTime"/>
        <result column="accountExpiredTime" jdbcType="BIGINT" property="accountExpiredTime"/>
        <result column="accountLockedTime" jdbcType="BIGINT" property="accountLockedTime"/>
        <result column="credentialsExpiredTime" jdbcType="BIGINT" property="credentialsExpiredTime"/>
        <result column="enabledTime" jdbcType="BIGINT" property="enabledTime"/>
        <result column="lastPasswordResetTime" jdbcType="BIGINT" property="lastPasswordResetTime"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="headPortrait" jdbcType="VARCHAR" property="headPortrait"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="personalProfile" jdbcType="VARCHAR" property="personalProfile"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, roleIds, username, password, salt, nickName, email, contact, socialAccount, lastLoginTime,
    registerTime, lastLoginIp, registerIp, updateTime, accountExpiredTime, accountLockedTime, 
    credentialsExpiredTime, enabledTime, lastPasswordResetTime, location, headPortrait,
    gender, personalProfile
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bg_sysuser
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bg_sysuser
        where username = #{username,jdbcType=VARCHAR}
    </select>
    <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bg_sysuser
        where email = #{email,jdbcType=VARCHAR}
    </select>
    <select id="selectByUsernameOrEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bg_sysuser
        where username = #{usernameOrEmail,jdbcType=VARCHAR} or email = #{usernameOrEmail,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bg_sysuser
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from bg_sysuser
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteRangeByPrimaryKeys">
        delete from bg_sysuser
        where id in (
        <foreach collection="userIds" item="id" index="index" separator=",">
            #{id,jdbcType=INTEGER}
        </foreach>
        )
    </delete>
    <insert id="insert" parameterType="com.peashoot.blog.batis.entity.SysUserDO">
        insert into bg_sysuser (id, roleIds, username,
                                password, salt, nickName,
                                email, contact, socialAccount,
                                lastLoginTime, registerTime, lastLoginIp,
                                registerIp, updateTime, accountExpiredTime,
                                accountLockedTime, credentialsExpiredTime,
                                enabledTime, lastPasswordResetTime,
                                location, headPortrait, gender,
                                personalProfile)
        values (#{id,jdbcType=INTEGER}, #{roleIds,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
                #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR},
                #{email,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{socialAccount,jdbcType=VARCHAR},
                #{lastLoginTime,jdbcType=BIGINT}, #{registerTime,jdbcType=BIGINT}, #{lastLoginIp,jdbcType=VARCHAR},
                #{registerIp,jdbcType=VARCHAR}, #{updateTime,jdbcType=BIGINT}, #{accountExpiredTime,jdbcType=BIGINT},
                #{accountLockedTime,jdbcType=BIGINT}, #{credentialsExpiredTime,jdbcType=BIGINT},
                #{enabledTime,jdbcType=BIGINT}, #{lastPasswordResetTime,jdbcType=BIGINT},
                #{location,jdbcType=VARCHAR}, #{headPortrait,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER},
                #{personalProfile,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.peashoot.blog.batis.entity.SysUserDO">
        insert into bg_sysuser
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleIds != null">
                roleIds,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="salt != null">
                salt,
            </if>
            <if test="nickName != null">
                nickName,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="contact != null">
                contact,
            </if>
            <if test="socialAccount != null">
                socialAccount,
            </if>
            <if test="lastLoginTime != null">
                lastLoginTime,
            </if>
            <if test="registerTime != null">
                registerTime,
            </if>
            <if test="lastLoginIp != null">
                lastLoginIp,
            </if>
            <if test="registerIp != null">
                registerIp,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="accountExpiredTime != null">
                accountExpiredTime,
            </if>
            <if test="accountLockedTime != null">
                accountLockedTime,
            </if>
            <if test="credentialsExpiredTime != null">
                credentialsExpiredTime,
            </if>
            <if test="enabledTime != null">
                enabledTime,
            </if>
            <if test="lastPasswordResetTime != null">
                lastPasswordResetTime,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="headPortrait != null">
                headPortrait,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="personalProfile != null">
                personalProfile,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roleIds != null">
                #{roleIds,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="contact != null">
                #{contact,jdbcType=VARCHAR},
            </if>
            <if test="socialAccount != null">
                #{socialAccount,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=BIGINT},
            </if>
            <if test="registerTime != null">
                #{registerTime,jdbcType=BIGINT},
            </if>
            <if test="lastLoginIp != null">
                #{lastLoginIp,jdbcType=VARCHAR},
            </if>
            <if test="registerIp != null">
                #{registerIp,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="accountExpiredTime != null">
                #{accountExpiredTime,jdbcType=BIGINT},
            </if>
            <if test="accountLockedTime != null">
                #{accountLockedTime,jdbcType=BIGINT},
            </if>
            <if test="credentialsExpiredTime != null">
                #{credentialsExpiredTime,jdbcType=BIGINT},
            </if>
            <if test="enabledTime != null">
                #{enabledTime,jdbcType=BIGINT},
            </if>
            <if test="lastPasswordResetTime != null">
                #{lastPasswordResetTime,jdbcType=BIGINT},
            </if>
            <if test="location != null">
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="headPortrait != null">
                #{headPortrait,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="personalProfile != null">
                #{personalProfile,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.peashoot.blog.batis.entity.SysUserDO">
        update bg_sysuser
        <set>
            <if test="roleIds != null">
                roleIds = #{roleIds,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nickName = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="contact != null">
                contact = #{contact,jdbcType=VARCHAR},
            </if>
            <if test="socialAccount != null">
                socialAccount = #{socialAccount,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                lastLoginTime = #{lastLoginTime,jdbcType=BIGINT},
            </if>
            <if test="registerTime != null">
                registerTime = #{registerTime,jdbcType=BIGINT},
            </if>
            <if test="lastLoginIp != null">
                lastLoginIp = #{lastLoginIp,jdbcType=VARCHAR},
            </if>
            <if test="registerIp != null">
                registerIp = #{registerIp,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="accountExpiredTime != null">
                accountExpiredTime = #{accountExpiredTime,jdbcType=BIGINT},
            </if>
            <if test="accountLockedTime != null">
                accountLockedTime = #{accountLockedTime,jdbcType=BIGINT},
            </if>
            <if test="credentialsExpiredTime != null">
                credentialsExpiredTime = #{credentialsExpiredTime,jdbcType=BIGINT},
            </if>
            <if test="enabledTime != null">
                enabledTime = #{enabledTime,jdbcType=BIGINT},
            </if>
            <if test="lastPasswordResetTime != null">
                lastPasswordResetTime = #{lastPasswordResetTime,jdbcType=BIGINT},
            </if>
            <if test="location != null">
                location = #{location,jdbcType=VARCHAR},
            </if>
            <if test="headPortrait != null">
                headPortrait = #{headPortrait,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="personalProfile != null">
                personalProfile = #{personalProfile,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.peashoot.blog.batis.entity.SysUserDO">
        update bg_sysuser
        set roleIds                = #{roleIds,jdbcType=VARCHAR},
            username               = #{username,jdbcType=VARCHAR},
            password               = #{password,jdbcType=VARCHAR},
            salt                   = #{salt,jdbcType=VARCHAR},
            nickName               = #{nickName,jdbcType=VARCHAR},
            email                  = #{email,jdbcType=VARCHAR},
            contact                = #{contact,jdbcType=VARCHAR},
            socialAccount          = #{socialAccount,jdbcType=VARCHAR},
            lastLoginTime          = #{lastLoginTime,jdbcType=BIGINT},
            registerTime           = #{registerTime,jdbcType=BIGINT},
            lastLoginIp            = #{lastLoginIp,jdbcType=VARCHAR},
            registerIp             = #{registerIp,jdbcType=VARCHAR},
            updateTime             = #{updateTime,jdbcType=BIGINT},
            accountExpiredTime     = #{accountExpiredTime,jdbcType=BIGINT},
            accountLockedTime      = #{accountLockedTime,jdbcType=BIGINT},
            credentialsExpiredTime = #{credentialsExpiredTime,jdbcType=BIGINT},
            enabledTime       = #{enabledTime,jdbcType=BIGINT},
            lastPasswordResetTime  = #{lastPasswordResetTime,jdbcType=BIGINT},
            location               = #{location,jdbcType=VARCHAR},
            headPortrait           = #{headPortrait,jdbcType=VARCHAR},
            gender                 = #{gender,jdbcType=INTEGER},
            personalProfile        = #{personalProfile,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="getIdByUsername" parameterType="java.lang.String" resultType="java.lang.Integer">
        select id
        from bg_sysuser
        where username = #{username, jdbcType=VARCHAR};
    </select>
</mapper>