<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peashoot.blog.batis.mapper.VisitorMapper">
    <resultMap id="BaseResultMap" type="com.peashoot.blog.batis.entity.VisitorDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="visitor" jdbcType="VARCHAR" property="visitor"/>
        <result column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="firstVisitTime" jdbcType="BIGINT" property="firstVisitTime"/>
        <result column="visitFromIp" jdbcType="VARCHAR" property="visitFromIp"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="browser" jdbcType="VARCHAR" property="browser"/>
        <result column="os" jdbcType="VARCHAR" property="os"/>
    </resultMap>
    <resultMap id="LeftJoinMap" type="com.peashoot.blog.batis.entity.VisitorDO" extends="BaseResultMap">
        <result column="username" jdbcType="VARCHAR" property="sysUserName"/>
        <result column="nickName" jdbcType="VARCHAR" property="sysUserNickName"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, visitor, userId, firstVisitTime, visitFromIp, location, browser, os
    </sql>
    <sql id="Left_Join_List">
        v.id, v.visitor, v.userId, v.firstVisitTime, v.visitFromIp, v.location, v.browser, v.os, u.username, u.nickName
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Left_Join_List"/>
        from bg_visitor v
        left join bg_sysuser u on v.userId=u.id
        where v.id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Left_Join_List"/>
        from bg_visitor v
        left join bg_sysuser u on v.userId=u.id
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from bg_visitor
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.peashoot.blog.batis.entity.VisitorDO">
        insert into bg_visitor (id, visitor, userId,
                                firstVisitTime, visitFromIp, location,
                                browser, os)
        values (#{id,jdbcType=BIGINT}, #{visitor,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},
                #{firstVisitTime,jdbcType=BIGINT}, #{visitFromIp,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR},
                #{browser,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.peashoot.blog.batis.entity.VisitorDO">
        insert into bg_visitor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="visitor != null">
                visitor,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="firstVisitTime != null">
                firstVisitTime,
            </if>
            <if test="visitFromIp != null">
                visitFromIp,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="browser != null">
                browser,
            </if>
            <if test="os != null">
                os,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="visitor != null">
                #{visitor,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="firstVisitTime != null">
                #{firstVisitTime,jdbcType=BIGINT},
            </if>
            <if test="visitFromIp != null">
                #{visitFromIp,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="browser != null">
                #{browser,jdbcType=VARCHAR},
            </if>
            <if test="os != null">
                #{os,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.peashoot.blog.batis.entity.VisitorDO">
        update bg_visitor
        <set>
            <if test="visitor != null">
                visitor = #{visitor,jdbcType=VARCHAR},
            </if>
            <if test="sysUserName != null">
                userId = #{userId,jdbcType=INTEGER},
            </if>
            <if test="firstVisitTime != null">
                firstVisitTime = #{firstVisitTime,jdbcType=BIGINT},
            </if>
            <if test="visitFromIp != null">
                visitFromIp = #{visitFromIp,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                location = #{location,jdbcType=VARCHAR},
            </if>
            <if test="browser != null">
                browser = #{browser,jdbcType=VARCHAR},
            </if>
            <if test="os != null">
                os = #{os,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.peashoot.blog.batis.entity.VisitorDO">
        update bg_visitor
        set visitor        = #{visitor,jdbcType=VARCHAR},
            userId         = #{userId,jdbcType=INTEGER},
            firstVisitTime = #{firstVisitTime,jdbcType=BIGINT},
            visitFromIp    = #{visitFromIp,jdbcType=VARCHAR},
            location       = #{location,jdbcType=VARCHAR},
            browser        = #{browser,jdbcType=VARCHAR},
            os             = #{os,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <insert id="insertWithReturnRecordID" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.peashoot.blog.batis.entity.VisitorDO">
        insert into bg_visitor (id, visitor, userId,
                                firstVisitTime, visitFromIp, location,
                                browser, os)
        values (#{id,jdbcType=BIGINT}, #{visitor,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},
                #{firstVisitTime,jdbcType=BIGINT}, #{visitFromIp,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR},
                #{browser,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR})
    </insert>
    <select id="selectByIPAndBrowser" resultMap="BaseResultMap">
        select
        <include refid="Left_Join_List"/>
        from bg_visitor v
        left join bg_sysuser u on v.userId=u.id
        where v.visitFromIp=#{visitIP,jdbcType=VARCHAR} and v.browser=#{browser, jdbcType=VARCHAR}
    </select>
    <select id="selectByVisitorName" resultMap="BaseResultMap">
        select
        <include refid="Left_Join_List"/>
        from bg_visitor v
        left join bg_sysuser u on v.userId=u.id
        where v.visitor=#{visitorName,jdbcType=VARCHAR}
    </select>
</mapper>