<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peashoot.blog.batis.mapper.VisitorMapper">
    <resultMap id="BaseResultMap" type="com.peashoot.blog.batis.entity.VisitorDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="visitor" jdbcType="VARCHAR" property="visitor"/>
        <result column="sysUserName" jdbcType="VARCHAR" property="sysUserName"/>
        <result column="firstVisitTime" jdbcType="TIMESTAMP" property="firstVisitTime"/>
        <result column="visitFromIp" jdbcType="VARCHAR" property="visitFromIp"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="browser" jdbcType="VARCHAR" property="browser"/>
        <result column="os" jdbcType="VARCHAR" property="os"/>
        <result column="roleIds" jdbcType="VARCHAR" property="roleIds"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, visitor, sysUserName, firstVisitTime, visitFromIp, location, browser, os, roleIds
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bg_visitor
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bg_visitor
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from bg_visitor
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.peashoot.blog.batis.entity.VisitorDO">
        insert into bg_visitor (id, visitor, sysUserName,
                                firstVisitTime, visitFromIp, location,
                                browser, os, roleIds)
        values (#{id,jdbcType=BIGINT}, #{visitor,jdbcType=VARCHAR}, #{sysUserName,jdbcType=VARCHAR},
                #{firstVisitTime,jdbcType=TIMESTAMP}, #{visitFromIp,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR},
                #{browser,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}, #{roleIds,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.peashoot.blog.batis.entity.VisitorDO">
        insert into bg_visitor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="visitor != null">
                visitor,
            </if>
            <if test="sysUserName != null">
                sysUserName,
            </if>
            <if test="firstVisitTime != null">
                firstVisitTime,
            </if>
            <if test="visitFromIp != null">
                visitFromIp,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="browser != null">
                browser,
            </if>
            <if test="os != null">
                os,
            </if>
            <if test="roleIds != null">
                roleIds,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="visitor != null">
                #{visitor,jdbcType=VARCHAR},
            </if>
            <if test="sysUserName != null">
                #{sysUserName,jdbcType=VARCHAR},
            </if>
            <if test="firstVisitTime != null">
                #{firstVisitTime,jdbcType=TIMESTAMP},
            </if>
            <if test="visitFromIp != null">
                #{visitFromIp,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="browser != null">
                #{browser,jdbcType=VARCHAR},
            </if>
            <if test="os != null">
                #{os,jdbcType=VARCHAR},
            </if>
            <if test="roleIds != null">
                #{roleIds,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.peashoot.blog.batis.entity.VisitorDO">
        update bg_visitor
        <set>
            <if test="visitor != null">
                visitor = #{visitor,jdbcType=VARCHAR},
            </if>
            <if test="sysUserName != null">
                sysUserName = #{sysUserName,jdbcType=VARCHAR},
            </if>
            <if test="firstVisitTime != null">
                firstVisitTime = #{firstVisitTime,jdbcType=TIMESTAMP},
            </if>
            <if test="visitFromIp != null">
                visitFromIp = #{visitFromIp,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                location = #{location,jdbcType=VARCHAR},
            </if>
            <if test="browser != null">
                browser = #{browser,jdbcType=VARCHAR},
            </if>
            <if test="os != null">
                os = #{os,jdbcType=VARCHAR},
            </if>
            <if test="roleIds != null">
                roleIds = #{roleIds,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.peashoot.blog.batis.entity.VisitorDO">
        update bg_visitor
        set visitor        = #{visitor,jdbcType=VARCHAR},
            sysUserName    = #{sysUserName,jdbcType=VARCHAR},
            firstVisitTime = #{firstVisitTime,jdbcType=TIMESTAMP},
            visitFromIp    = #{visitFromIp,jdbcType=VARCHAR},
            location       = #{location,jdbcType=VARCHAR},
            browser        = #{browser,jdbcType=VARCHAR},
            os             = #{os,jdbcType=VARCHAR},
            roleIds        = #{roleIds,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <insert id="insertWithReturnRecordID" useGeneratedKeys="true" keyProperty="id" parameterType="com.peashoot.blog.batis.entity.VisitorDO">
        insert into bg_visitor (id, visitor, sysUserName,
                                firstVisitTime, visitFromIp, location,
                                browser, os, roleIds)
        values (#{id,jdbcType=BIGINT}, #{visitor,jdbcType=VARCHAR}, #{sysUserName,jdbcType=VARCHAR},
                #{firstVisitTime,jdbcType=TIMESTAMP}, #{visitFromIp,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR},
                #{browser,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}, #{roleIds,jdbcType=VARCHAR})
    </insert>
    <select id="selectByIPAndBrowser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bg_visitor
        where visitFromIp=#{visitIP,jdbcType=VARCHAR} and browser=#{broswer, jdbcType=VARCHAR}
    </select>
    <select id="selectByVisitorName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bg_visitor
        where visitor=#{visitorName,jdbcType=VARCHAR}
    </select>
</mapper>